*{
    margin: 0px auto;
    padding: 0px;
}
.container{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.content-middle{
    width: 500px;
    height: 500px;
    border: 1px solid grey;
    border-radius: 30px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.548);
    position: relative;
    top: 70px;
    margin-bottom: 140px;
}
.content-middle:hover{
    box-shadow: 4px 4px 10px rgba(47, 7, 223, 0.863);
}
.wrapper-form{
    width: 100%;
    height: 50px;
}
.form-menu{
    float: left;
    width: 50%;
    height: 50px;
    cursor: pointer;
}
.font-list-menu-0{
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(35, 32, 190, 0.685);
    position: relative;
    padding: 15px;
    border-bottom: 3px solid blue;
    border-right: 3px solid blue;
    border-bottom-right-radius: 360px;
}
.font-list-menu-0:hover{
    color: blue;
    border-bottom: 3px solid blue;
    border-right: 3px solid blue;
}
.font-list-menu-1{
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(35, 32, 190, 0.685);
    position: relative;
    padding: 15px;
}
.font-list-menu-1:hover{
    color: blue;
}
.form-content-doc{
    width: 100%;
    height: 420px;
    overflow: auto;
    background-color: red; 
}
.footer{
    width: 100%;
    height: 50px;
    background-color: blue;
}
.font-foot{
    text-align: center;
    color: #ffffff;
    position: relative;
    top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}